/* common Shared Style */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    /* margin-top: 40px; */
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}


/* Nav related Style */

nav {
    display: flex;
    align-items: center;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
    margin: 0px 200px;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related Style */

header {
    background-color: #FFF8F3;
    background-image: url('../portfolio-resources-main/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.profile_Picture {
    width: 100px;
    /* height: 200px; */
    padding-right: 40px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-bottom: 30px;

}



/* Main Section style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {

    margin-top: 130px;
}

/* About Section style */
.about {
    /* padding: 130px; */
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 150px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

#about-me{
    padding-top: 5px;
}
/* <!-- What i do section start --> */

#what-i-do-description {
    padding: 10px 150px;
}



/* skill related style */

.skills-container {
    display: flex;
    margin: 0 70px;
    gap: 24px;
}

.skill {
    padding: 30px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
    /* text-align: justify; */

}


/* resume part style */

#resume-summary-head {
    padding-top: 40px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 60px;
    margin: 0 70px;
}

.resume-item-description,
.resume-item-institute {
    color: #757575;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 1px;
}

.resume-container hr {
    margin: 10px 0;
}

.resume-item-institute {
    margin-bottom: 20px;
    margin-top: 0px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

.download-cv button{
    background-color: #FD6E0A;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
}

/* footer style */

footer{
    display: flex;
    background-color: #FFF8F3;
    margin-top: 100px;
    padding: 30px 150px;
    gap: 100px;
}

.footer-section-title{
    font-size:30px ;
    text-align: center;
}

.footer-column{
    width: 50%;
}

.contact input[type="text"] , .contact input[type="email"] ,textarea{
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #757575;
    border: 5px;
    background: white;
    border: 0;
    width: 100%;
}

.Social-media-links a{
    margin-right: 40px;
}






